language: cpp

cache:
  apt: true

addons:
  apt:
    sources:
    - boost-latest
    packages:
    - libboost1.55-all-dev
    - libevent-dev
    - automake
    - autoconf
    - libtool
    - flex
    - bison
    - pkg-config
    - g++ 
    - libssl-dev


before_install:
  -bash installthrift.sh
  
cache:
  directories:
  - $HOME/thrift

# check what has been installed by listing contents of thrift folder
before_script:
  - ls -R $HOME/thrift

script:
  - cd ril && make
