language: cpp

cache:
  apt: true

addons:
  apt:
    sources:
    - boost-latest
    packages:
    - libboost1.55-all-dev
    - libevent-dev
    - automake
    - libtool
    - flex
    - bison
    - pkg-config
    - g++ 
    - libssl-dev

before_install:
  - wget http://archive.apache.org/dist/thrift/0.9.2/thrift-0.9.2.tar.gz
  - tar xfz thrift-0.9.2.tar.gz
  - cd thrift-0.9.2 
  - ./configure --without-java --without-c_glib --without-python --without-ruby --without-erlang --without-nodejs && sudo make install
  - cd ..
  
script:
  - cd ril && autoconf && automake && ./configure && make
